<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.cssxsh.mirai.plugin.dao.ArtWorkInfoMapper">
    <insert id="replaceArtWork">
        REPLACE INTO artworks("pid",
                              "uid",
                              "title",
                              "caption",
                              "create_at",
                              "page_count",
                              "sanity_level",
                              "type", "width",
                              "height",
                              "total_bookmarks",
                              "total_comments",
                              "total_view",
                              "age",
                              "is_ero",
                              "deleted")
        VALUES (${pid},
                ${uid},
                #{title},
                #{caption},
                #{createAt},
                ${pageCount},
                ${sanityLevel},
                #{type},
                ${width},
                ${height},
                ${totalBookmarks},
                ${totalComments},
                ${totalView},
                ${age},
                ${isEro},
                ${deleted});
    </insert>
    <update id="updateArtWork">
        UPDATE artworks
        SET title           = #{title},
            caption         = #{caption},
            create_at       = #{createAt},
            page_count      = ${pageCount},
            sanity_level    = ${sanityLevel},
            type            = #{type},
            width           = ${width},
            height          = ${height},
            total_bookmarks = ${totalBookmarks},
            total_comments  = ${totalComments},
            total_view      = ${totalView},
            age             = ${age},
            is_ero          = ${isEro}
        WHERE pid = ${pid};
    </update>
    <select id="findByPid" resultType="xyz.cssxsh.mirai.plugin.model.ArtWorkInfo">
        SELECT *
        FROM artworks
        WHERE pid = ${pid};
    </select>
    <select id="countByUid" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM artworks
        WHERE uid = ${uid};
    </select>
    <select id="artworks" resultType="xyz.cssxsh.mirai.plugin.model.ArtWorkInfo">
        SELECT *
        FROM not_deleted
        WHERE pid BETWEEN #{first} AND #{last};
    </select>
    <select id="findByTag" resultType="xyz.cssxsh.mirai.plugin.model.ArtWorkInfo">
        SELECT *
        FROM not_deleted
        WHERE pid IN (
            SELECT tags.pid
            FROM tags
            WHERE name LIKE '%' || #{param1} || '%'
               OR translated_name LIKE '%' || #{param1} || '%'
        ) AND total_bookmarks >= ${param2};
    </select>
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM artworks
        WHERE NOT deleted;
    </select>
    <select id="eroCount" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM not_deleted
        WHERE is_ero
          AND age = 0;
    </select>
    <select id="r18Count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM not_deleted
        WHERE is_ero
          AND NOT age = 0;
    </select>
    <update id="deleteByPid">
        UPDATE artworks
        SET deleted = true,
            caption = #{param2}
        WHERE pid = ${param1};
    </update>
    <update id="deleteByUid">
        UPDATE artworks
        SET deleted = true,
            caption = #{param2}
        WHERE uid = ${param1};
    </update>
    <select id="userArtWork" resultType="xyz.cssxsh.mirai.plugin.model.ArtWorkInfo">
        SELECT *
        FROM not_deleted
        WHERE uid = ${uid};
    </select>
    <select id="userEroCount" resultType="kotlin.Pair">
        SELECT uid, COUNT(*)
        FROM not_deleted
        GROUP BY uid;
    </select>
    <select id="eroRandom" resultType="xyz.cssxsh.mirai.plugin.model.ArtWorkInfo">
        SELECT *
        FROM not_deleted
        WHERE is_ero
          AND age = 0
        ORDER BY RANDOM()
        LIMIT ${limit};
    </select>
    <select id="contains" resultType="java.lang.Boolean">
        SELECT COUNT(*)
        FROM artworks
        WHERE pid = ${pid};
    </select>
</mapper>