<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.cssxsh.mirai.plugin.dao.StatisticInfoMapper">
    <insert id="replaceEroInfo">
        REPLACE INTO statistic_ero("sender", "group", "pid", "timestamp")
        VALUES (${sender}, #{group}, ${pid}, ${timestamp});
    </insert>
    <select id="senderEroInfos" resultType="xyz.cssxsh.mirai.plugin.model.StatisticEroInfo">
        SELECT *
        FROM statistic_ero
        WHERE sender = ${sender};
    </select>
    <select id="groupEroInfos" resultType="xyz.cssxsh.mirai.plugin.model.StatisticEroInfo">
        SELECT *
        FROM statistic_ero
        WHERE "group" = ${group};
    </select>
    <insert id="replaceTagInfo">
        REPLACE INTO statistic_tag("sender", "group", "pid", "tag", "timestamp")
        VALUES (${sender}, #{group}, #{pid}, #{tag}, ${timestamp});
    </insert>
    <select id="senderTagInfos" resultType="xyz.cssxsh.mirai.plugin.model.StatisticTagInfo">
        SELECT *
        FROM statistic_tag
        WHERE sender = ${sender};
    </select>
    <select id="groupTagInfos" resultType="xyz.cssxsh.mirai.plugin.model.StatisticTagInfo">
        SELECT *
        FROM statistic_tag
        WHERE "group" = ${group};
    </select>
    <insert id="replaceSearchResult">
        REPLACE INTO statistic_search("md5", similarity, "pid", "title", "uid", "name")
        VALUES (#{md5}, #{similarity}, ${pid}, #{title}, ${uid}, #{name});
    </insert>
    <select id="findSearchResult" resultType="xyz.cssxsh.mirai.plugin.model.PixivSearchResult">
        SELECT *
        FROM statistic_search
        WHERE "md5" like #{md5};
    </select>
    <select id="noCacheSearchResult" resultType="xyz.cssxsh.mirai.plugin.model.PixivSearchResult">
        SELECT *
        FROM statistic_search
        WHERE NOT EXISTS(SELECT * FROM artworks WHERE artworks.pid = statistic_search.pid);
    </select>
    <insert id="replaceAliasSetting">
        REPLACE INTO statistic_alias("name", "uid")
        VALUES (#{alias}, ${uid});
    </insert>
    <select id="alias" resultType="xyz.cssxsh.mirai.plugin.model.AliasSetting">
        SELECT *
        FROM statistic_alias;
    </select>
    <select id="top" resultType="kotlin.Pair">
        SELECT tag, COUNT(*)
        FROM statistic_tag
        GROUP BY tag
        ORDER BY count(*) DESC
        LIMIT ${limit};
    </select>
    <insert id="addHistory">
        REPLACE INTO statistic_task("task", "pid", "timestamp")
        VALUES (#{task}, ${pid}, ${timestamp});
    </insert>
    <select id="histories" resultType="xyz.cssxsh.mirai.plugin.model.StatisticTaskInfo">
        SELECT *
        FROM statistic_task
        WHERE task like #{task};
    </select>
</mapper>